<!DOCTYPE html>
<div class="container text-center" xmlns:th="http://www.w3.org/1999/xhtml">
    <h3>Reset password</h3>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${message}">
                <h5>Message: <b th:text="${{message}}">Message</b></h5>

            </div>

            <form action="/change_password" method="GET">
                <input name="email" class="form-control" placeholder="Enter your email here" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>