<html xmlns:th="http://www.w3.org/1999/xhtml">
<div class="container">
    <h1>Register</h1>
    <form action="/register" th:object="${user}" method="POST" enctype="utf8">

        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" th:field="*{firstName}"/>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" th:field="*{lastName}"/>
            <p class="alert alert-danger" th:each="error: ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" th:field="*{email}"/>
            <p class="alert alert-danger" th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" th:field="*{password}"/>
            <p class="alert alert-danger" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender">
            <option th:each="state : ${T(com.example.demo.model.Gender).values()}"
                    th:value="${state}"
                    th:field="*{gender}"
                    th:text="${state}">
            </option>
        </select>
        </div>
        <div class="form-group">
            <label for="user">Category</label>
            <select class="form-control" name="user" id="user">
                <option th:each="u : ${users}" th:value="${u.username}" th:text="${u.username}" ></option>
            </select>
        </div>
        <div class="form-group">
            <label>Date Time: </label><input type="date" th:field="*{birthDate}"/>

        </div>

        <!--<div class="form-group">-->
            <!--<label>Birth Date</label>-->
            <!--<input class="form-control" type="date" th:value="*{birthDate}" th:field="*{birthDate}"/>-->
            <!--<p class="alert alert-danger" th:each="error : ${#fields.errors('birthDate')}"-->
               <!--th:text="${error}">Validation error</p>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>Confirm password</label>-->
            <!--<input class="form-control" type="password" th:field="*{matchingPassword}"/>-->
            <!--<p class="alert alert-danger" th:if="${passNoMatch != null}" th:text="${passNoMatch}">Matching Error</p>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<div class="g-recaptcha col-sm-5"-->
                 <!--th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>-->
            <!--<span id="captchaError" class="alert alert-danger col-sm-4"-->
                  <!--style="display:none"></span>-->
        <!--</div>-->

        <br />
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <hr />
    <p> Already have an account? <a th:href="@{/login}">Login</a></p>
</div>
</html>
