<div class="container">
    <div class="row">
        <h3>User profile</h3>
        <hr />
        <div class="col-md-6">
            <form id="user-info"
                  method="POST"
                  xmlns:th="http://www.w3.org/1999/xhtml">

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user?.firstName}" />
                </div>

                <div class="form-group">
                    <label for="lastName">Description</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user?.lastName}" />
                </div>

                <!--<div class="form-group">
                    <label for="department">Category</label>
                    <select class="form-control" name="department" id="department">
                        <option th:each="u : ${users}" th:value="${u.username}" th:text="${u.username}" ></option>
                    </select>
                </div>-->

                <div class="form-group">
                    <label>Date Time: </label><input type="date" th:value="*{user?.birthDate}"/>

                </div>

                <button type="button"  class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>

    </div>
</div>