<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h3>User profile</h3>
        <hr />
        <div class="col-md-6">
            <form action="/edit-user" th:object="${user}" method="POST" enctype="utf8">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" th:field="*{username}"/>
                    <p class="alert alert-danger" th:each="error : ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" th:field="*{firstName}"/>
                    <p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" th:field="*{lastName}"/>
                    <p class="alert alert-danger" th:each="error: ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" name="gender" id="gender">
                        <option th:each="state : ${T(com.example.demo.model.Gender).values()}"
                                th:value="${state}"
                                th:field="*{gender}"
                                th:text="${state}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Date Time: </label><input type="date" th:field="*{birthDate}"/>

                </div>

                <br />
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>