<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
<div class="container text-center" xmlns:th="http://www.w3.org/1999/xhtml">
    <h3>Reset password</h3>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${message}">
                <h5>Message: <b th:text="${{message}}">Message</b></h5>

            </div>

            <form action="/reset_password" method="POST">
                <input name="newPassword" type="password" class="form-control" placeholder="Enter your new password" />
                <br/>
                <input name="matchingPassword" type="password" class="form-control" placeholder="Enter your new password" />
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>