<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--<div>-->
        <!--<p> Email: <b th:text="${user?.username}"></b></p>-->
        <!--<p> First Name: <b th:text="${user?.firstName}"></b></p>-->
        <!--<p> Last Name: <b th:text="${user?.lastName}"></b></p>-->
        <!--<p> Birth Date: <b th:text="${user?.birthDate}"></b></p>-->
        <!--<p> Registration Date: <b th:text="${user?.registrationDate}"></b></p>-->
        <!--<p> Gender: <b th:text="${user?.gender}"></b></p>-->
        <!--&lt;!&ndash;<a href="/edit-profile-change-password">Change password</a>&ndash;&gt;-->
    <!--</div>-->
    <div class="container">
        <div class="row">
            <h3>User profile</h3>
            <hr />
            <div class="col-md-6">
                <form id="user-info" th:action="@{users}" method="POST" enctype="utf8">
                    <!--<div class="form-group">-->
                        <!--<label>Email</label>-->
                        <!--<input class="form-control" type="email" th:value="*{user?.username}"/>-->
                        <!--<p class="alert alert-danger" th:each="error : ${#fields.errors('username')}"-->
                           <!--th:text="${error}">Validation error</p>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input class="form-control" name="firstName" id="firstName" th:value="*{user?.firstName}"/>
                        <!--<p class="alert alert-danger" th:each="error: ${#fields.errors('firstName')}"-->
                           <!--th:text="${error}">Validation error</p>-->
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" name="lastName" id="lastName" th:value="*{user?.lastName}"/>
                        <!--<p class="alert alert-danger" th:each="error: ${#fields.errors('lastName')}"-->
                           <!--th:text="${error}">Validation error</p>-->
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" name="gender" id="gender">
                            <option th:each="state : ${T(com.example.demo.model.Gender).values()}"
                                    th:value="${user?.gender}"
                                    th:text="${state}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Birth Date: </label><input type="date" name="birthDate" id="birthDate" th:value="*{user?.birthDate}"/>

                    </div>

                    <br />
                    <div>
                        <button class="btn btn-primary" type="button" th:onclick="'submitForm(\''+ ${user?.username} + '\')'">Submit</button>
                        <button class="btn btn-danger" type="button" th:onclick="'deleteUser(\''+ ${user?.username} + '\')'">Delete</button>
                        <button class="btn btn-info" type="submit" >Search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Edit</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td><a th:href="@{/users(username=${user.username}, page=${page}, size=${size})}">Edit</a></td>
            </tr>
        </table>
    </div>
    <hr />
    <div class="text-center">
        <div class="col-md-6">
            <a class="btn btn-success" th:if="${hasPrev}" th:href="${prevPageRequest}">Prev</a>
        </div>

        <a class="btn btn-success" th:if="${hasNext}" th:href="${nextPageRequest}">Next</a>

    </div>
</div>
<script>

    function search(username){
        var $form = $('#user-info');
        var $ser = $form.serializeArray();
        console.log($ser);
        console.log(JSON.stringify({
            'username': username ? username : null,
            'firstName': $ser[0].value,
            'lastName': $ser[1].value,
            'gender': $ser[2].value,
            'birthDate': $ser[3].value
        }));

        $.ajax({
            url: "/api/search",
            type: 'POST',
            data: JSON.stringify({
                'username': username ? username : null,
                'firstName': $ser[0].value,
                'lastName': $ser[1].value,
                'gender': $ser[2].value,
                'birthDate': $ser[3].value
            }),
            contentType: 'application/json',
            success: function (response) {
                location.reload();
            },
            error: function(e){
                alert(JSON.parse(e.responseText).exception);
            }
        });

    }

    function deleteUser(username) {
        if (confirm('Are you sure?'))
        {
            console.log(username);
            $.ajax({
                type : "DELETE",
                url : "/api/users/"+ username,
                contentType : 'application/json',
                success : function(response) {
                    location.href="/users"
                },
                error : function(e) {
                    alert(JSON.parse(e.responseText).exception);
                }
            });
        }
    }

    function submitForm(username){
        var $form = $('#user-info');
        var $ser = $form.serializeArray();
        console.log($ser);
        console.log(JSON.stringify({
            'username': username ? username : null,
            'firstName': $ser[0].value,
            'lastName': $ser[1].value,
            'gender': $ser[2].value,
            'birthDate': $ser[3].value
        }));

        $.ajax({
            url: "/api/jsonUsers",
            type: 'POST',
            data: JSON.stringify({
                'username': username ? username : null,
                'firstName': $ser[0].value,
                'lastName': $ser[1].value,
                'gender': $ser[2].value,
                'birthDate': $ser[3].value
            }),
            contentType: 'application/json',
            success: function (response) {
                location.reload();
            },
            error: function(e){
                alert(JSON.parse(e.responseText).exception);
            }
        });

    }
</script>
</body>
</html>